ul {
  list-style: none;
}

p,
ul,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}
